[submodule "printfTester"]
path = printfTester
url = git@github.com:Tripouille/printfTester.git
ignore = dirty

[submodule "libft"]
path = libft
url = git@github.com:servettonga/libft.git
ignore = dirty
